/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 18 Nov, 2015, 4:41:52 PM
    Author     : ark-05
*/

label{
    font-weight: 400 !important;
}

.has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle{
    border-color: #e2e0e0 !important;
}

.alert {
    margin: 20px 0 10px !important;
}

#booking_date_txt{
    color: #b41b20;
    cursor: pointer;
    font-size: 20px;
}

#booking-cal table tbody tr td{
    cursor: pointer;
}

.fc-state-highlight {
    background:#fcf8e3 none repeat scroll 0 0;
}

.new-half-class.raty-icons {
  float: none;
  margin: 0 auto;
}

/*.subscriber-div{
    height: 608px;
}*/


.fc-more-cell > div {
  float: left  !important;
  position: absolute  !important;
  width: 100%  !important;
  bottom:0px  !important;
}

.fc-more {
  background: #31b604 none repeat scroll 0 0  !important;
  color: #ffffff  !important;
  left: -3px  !important;
  padding: 0 2px  !important;
  position: absolute  !important;
  top: 15px  !important;
}
.fc-more:hover
{
	color:#ffffff !important;
}

.fc-more-popover
{
	top:50px !important;
	position:absolute !important;
}


.fc-state-default {
  background-color: #b41b1e !important;
  background-image: linear-gradient(to bottom, #c01d23, #b41b1e)  !important;
  background-repeat: repeat-x  !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)  !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05)  !important;
  color: #ffffff  !important;
  text-shadow:none  !important;
}

.fc-unthemed .fc-divider, .fc-unthemed .fc-popover .fc-header {
  background: #b4191c none repeat scroll 0 0 !important;
  color:#ffffff;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
  color:#ffffff !important;
}

a.view-comment, a.write-comment{
    color: #FFF;
}

.online{
    z-index: 1 !important;
}

.bootstrap-timepicker-widget{
    z-index: 2000 !important;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark{
    position: relative !important;
}

.tt-fullHeight3 {
  min-height: 340px !important;
}

.tt-fullHeight3.category_search {
  min-height: 275px !important;
}

.course-thumbdetails > h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.withme{
   font-size: 14px;
   font-weight: 400;
}

.OT_publisher button.OT_mute, .OT_subscriber button.OT_mute {
  background-position: 15px 7px !important;
}

.OT_publisher .OT_mute, .OT_subscriber .OT_mute {
  height: 34px !important;
}

.howitworks_steps{
    min-height: 478px;
}