/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 18 Nov, 2015, 4:41:52 PM
    Author     : ark-05
*/

label{
    font-weight: 400 !important;
}

.has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle{
    border-color: #e2e0e0 !important;
}

.alert {
    margin: 20px 0 10px !important;
}

#booking_date_txt{
    color: #b41b20;
    cursor: pointer;
    font-size: 20px;
}

#booking-cal table tbody tr td{
    cursor: pointer;
}

.fc-state-highlight {
    background:#fcf8e3 none repeat scroll 0 0;
}

.new-half-class.raty-icons {
  float: none;
  margin: 0 auto;
}

/*.subscriber-div{
    height: 608px;
}*/


.fc-more-cell > div {
  float: left;
  position: absolute;
  width: 100%;
  bottom:0px;
}

.fc-more {
  background: #31b604 none repeat scroll 0 0;
  color: #ffffff;
  left: -3px;
  padding: 0 2px;
  position: absolute;
  top: 15px;
}
.fc-more:hover
{
	color:#ffffff;
}

.fc-more-popover
{
	top:50px !important;
	position:absolute;
}


.fc-state-default {
  background-color: #b41b1e;
  background-image: linear-gradient(to bottom, #c01d23, #b41b1e);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  text-shadow:none;
}

.fc-unthemed .fc-divider, .fc-unthemed .fc-popover .fc-header {
  background: #b4191c none repeat scroll 0 0;
  color:#ffffff;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
  color:#ffffff;
}